body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  border: 15px solid chocolate;
  padding: 8px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}

#headShot{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid chocolate;
}

header {
  background-color: #343330;
  text-align: center;
  color: #FCF7F8;
  justify-content: center;
  }
#heading {
 font-family: sans-serif;
 font-size: 110%;
 padding: 1rem; 
}
footer {
  background-color: #343330;
  text-align: center;
  color: #FCF7F8;
  padding: 1rem;
}
#sidebar{
 width: 15%;
 background-color: rgb(56, 66, 39); 
 padding: 1rem;
 color: #FCF7F8;
}
#contents{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.nav-Menu{
  list-style-type: none;
  padding: 0%;

}

.icons{
  width: 3rem;
  margin: 0.5rem;
  height: auto;
}